<%- model_class = Profile -%>
<div class="page-header">
  <h1>プロフィール入力<h1>
</div>
<p>
プロフィールを入力して、登録を完了させてください。プロフィールは登録後に変更できます。<br/>
ご入力いただいた情報は、<%= link_to "プライバシーポリシー", "/"%>に則って取り扱いいたします。
</p>
<%= render :partial => 'form' %>
