<div class="page-header">
  <h2>メールアドレス確認</h2>
</div>
<div class="alert alert-success">
  <p class="lead">
  <strong>まだ完了していません！ご登録のメールアドレス <%= @user.email %> 宛に確認のメールを送信しました。<br/>
いますぐメールを確認し、登録を完了させてください。</strong>
  </p>
  <p>
  いますぐメールを確認し、登録を完了させてください。
  メールを確認し、48時間以内に登録確認を完了してください。
  48時間を経過した登録情報は無効となりますので、その場合は、もう一度新規登録をお願いします。
  </p>

  <p>
  メールが届かない場合は、<%= @user.email %>で間違いがないかご確認の上、<%= link_to "メール再送フォーム", new_confirmation_path(resource_name) %>より再送してください。
  迷惑メールとして削除されている場合もありますので、メールソフトの設定もあわせてご確認ください。
  </p>

  <p>
  間違ってメールアドレスを登録した場合は、もう一度<%= link_to "新規登録",  new_registration_path(resource_name) %>をしてください。
  </p>
</div>
