<div class="page-header">
  <h1>マイページ</h1>
</div>
<div class="row-fluid">
  <div class="span5">
    <h3>お知らせ</h3>
    <ul>
      <li>会員10万人突破</li>
      <li>銀行口座による振込先口座名義変更のお知らせ</li>
    </ul>
  </div>
  <div class="span5">
    <%= link_to "新しい仕事を依頼する", new_job_offer_path, method:"get", class:"btn btn-large btn-block btn-primary"%>
  </div>
</div>


<div class="row-fluid">
  <div class="span5">

    <h3>プロフィール完成度</h3>
    <div class="progress progress-info progress-striped">
      <div class="bar" style="width: 20%"></div>20%
    </div>
    <ul>
      <li>基本情報</li>
      <li>カメラマン情報</li>
      <li>経歴・実績</li>
    </ul>

    <h3>仕事管理</h3>
    提案や仕事の一覧ページです。
    <ul>
      <li>提案した仕事</li>
      <li>契約中の仕事</li>
      <li>過去の仕事</li>
    </ul>

    <h3>新着メッセージ</h3>
    <ul>
      <li>2012/12/09 仕事が無くなったよ!!!</li>
      <li>2012/12/08 仕事が依頼されたよ!!!</li>
    </ul>
  </div>
  <div class="span5">
    <h3>プロフィール管理</h3>
    プロフィールの管理ができます。
    <ul>
      <li><%= link_to "プロフィール編集", edit_profile_path(current_user.profile.id)%></li>
      <li>カメラマン情報編集</li>
      <li>経歴・実績</li>
    </ul>

    <h3>会員情報管理</h3>
    登録情報の編集ができます。
    <ul>
      <li><%= link_to "メールアドレス/パスワード変更", edit_user_registration_path %></li>
      <li>振込口座登録</li>
      <li>外部サービス連携</li>
    </ul>
  </div>
</div>
